<div class="flex justify-center items-center min-h-[80vh]">
  <div class="max-w-screen-2xl px-10 py-20">
    <h1 class="text-lg font-bold mb-12">喫煙・禁煙 管理アプリ</h1>
    <h2 class="text-4xl font-semibold mb-12">いつかの禁煙に備えて、記録をつけませんか？</h2>
    <ul class="space-y-8">
      <li class="text-xl">
        <span class="font-bold">1. 喫煙の管理：</span>ボタンを押すだけで喫煙記録を行える
      </li>
      <li class="text-xl">
        <span class="font-bold">2. 喫煙データを元に禁煙の管理：</span> 実際の自分の喫煙記録を元に禁煙時の記録を作成
      </li>
      <li class="text-xl">
        <span class="font-bold">3. 禁煙失敗時のやり直し：</span> 何度で失敗しても1から始め直せるような仕組み
      </li>
    </ul>
  </div>
</div>
